@{
    ViewData["Title"] = "News";
    Layout = "_LayoutAdmin";
}
<h3>News</h3>
<label>This case contains all problems.</label>
<div class="container">
    <ul class="navbar-nav flex-grow-1">
        @foreach (var news in Model)
        {
            <li class="nav-item bg-white border-bottom box-shadow p-2">
                <h5>
                    <a class="nav-link text-dark w-100 " href="~/Admin/newsEdit/@news.Id">@news.name</a>
                </h5>
            </li>
        }
    </ul>
</div>