<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Archive of problems</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#">Problems</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#">News</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#">Account</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <div class="container">
       <div class="row h-75">
           <div class="col-2 bg-white border-bottom box-shadow h-100 p-3 d-none d-lg-block ">
               Recent news:
               <ul class="navbar-nav flex-grow-1">
                   <li class="nav-item"><a class="nav-link text-dark" href="#">test</a></li>
                   <li class="nav-item"><a class="nav-link text-dark" href="#">test</a></li>
                   <li class="nav-item"><a class="nav-link text-dark" href="#">test</a></li>
               </ul>
               Recent problems:
               <ul class="navbar-nav flex-grow-1">
                   <li class="nav-item"><a class="nav-link text-dark" href="#">test</a></li>
                   <li class="nav-item"><a class="nav-link text-dark" href="#">test</a></li>
                   <li class="nav-item"><a class="nav-link text-dark" href="#">test</a></li>
               </ul>
           </div>
           <div class="col bg-white border-bottom box-shadow  ">
           
               <main class="container p-3">
                   @RenderBody()
               </main>  
           
           </div>
       </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            2021 - Archive of problems
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>