@{
    ViewData["Title"] = "Sign in";
}
<h3>@ViewData["Title"]</h3>
<h6> or <a href="~/Account/SignUp">sign up</a></h6>
<label>Enter your name and password.</label>

@await Html.PartialAsync("_SignForm", ViewData["Title"])

