@{
    ViewData["Title"] = "Sign up";
}
<h3>@ViewData["Title"]</h3>
<h6> or <a href="~/Account/SignIn">sign in</a></h6>
<label>Enter your name and password.</label>
@await Html.PartialAsync("_SignForm", ViewData["Title"])